# Importing the required Dependencies

In [1]:
import pandas as pd
import numpy as np
#importing standarized dependency to standarized data in common range
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.model_selection import train_test_split

In [2]:
# reading and showing sample of the csv file
df = pd.read_csv('Data.csv') 
df.sample(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1289,9,122,56,0,0,33.3,1.114,33,1
1276,4,97,60,23,0,28.2,0.443,22,0
32,3,99,54,19,86,25.6,0.154,24,0
1242,2,112,68,22,94,34.1,0.315,26,0
1616,4,146,78,0,0,38.5,0.520,67,1
421,2,94,68,18,76,26.0,0.561,21,0
1272,7,160,54,32,175,30.5,0.588,39,1
1044,6,103,66,0,0,24.3,0.249,29,0
3,0,135,68,42,250,42.3,0.365,24,1
361,5,158,70,0,0,29.8,0.207,63,0
851,0,105,68,22,0,20.0,0.236,22,0
1163,10,115,0,0,0,0.0,0.261,30,1
329,6,105,70,32,68,30.8,0.122,37,0
139,5,105,72,29,325,36.9,0.159,28,0
1662,1,172,68,49,579,42.4,0.702,28,1

In [3]:
# describing the data as statistical data as mean / standard deviation
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [4]:
# checking if data has a null value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [5]:
# printing shape of dataset as rows and columns
df.shape

(2000, 9)

In [6]:
# separating the data and Outcome 
X = df.drop(columns = 'Outcome',axis=1)
Y = df['Outcome']
print(X)
print(Y)

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0               2      138             62             35        0  33.6
1               0       84             82             31      125  38.2
2               0      145              0              0        0  44.2
3               0      135             68             42      250  42.3
4               1      139             62             41      480  40.7
...           ...      ...            ...            ...      ...   ...
1995            2       75             64             24       55  29.7
1996            8      179             72             42      130  32.7
1997            6       85             78              0        0  31.2
1998            0      129            110             46      130  67.1
1999            2       81             72             15       76  30.1

      DiabetesPedigreeFunction  Age
0                        0.127   47
1                        0.233   23
2                        0.630   31
3                        0.365   24
4                        0.536   21
...                        ...  ...
1995                     0.370   33
1996                     0.719   36
1997                     0.382   42
1998                     0.319   26
1999                     0.547   25

[2000 rows x 8 columns]
0       1
1       0
2       1
3       1
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    0
Name: Outcome, Length: 2000, dtype: int64

In [7]:
# checking outcomes
Y.unique()

array([1, 0])

In [8]:
# counting the outcomes ("0" as -negative and "1" as +positive)
df['Outcome'].value_counts()

0    1316
1     684
Name: Outcome, dtype: int64

In [9]:
# getting mean for label 0 and 1 of all attributes
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.168693,110.586626,68.094985,20.052432,70.563830,30.567477,0.434676,31.081307
1,4.732456,141.568713,71.166667,22.633041,98.897661,35.320468,0.540681,36.956140

# Standardization of the data

In [10]:
scaled_data = StandardScaler()
standardized_data = scaled_data.fit_transform(X)
print(standardized_data)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]]

In [11]:
X = standardized_data

In [12]:
print(X)

[[-0.5153943   0.52455322 -0.37248123 ...  0.17268332 -1.06324616
   1.18042417]
 [-1.12049474 -1.1597562   0.67008046 ...  0.73724853 -0.7355513
  -0.85632626]
 [-1.12049474  0.74288962 -3.60442246 ...  1.47363794  0.49175869
  -0.17740945]
 ...
 [ 0.69480658 -1.12856529  0.46156812 ... -0.12187245 -0.27492362
   0.75610116]
 [-1.12049474  0.24383498  2.12966682 ...  4.28419085 -0.46968566
  -0.60173245]
 [-0.5153943  -1.25332895  0.14879962 ... -0.25687717  0.23516743
  -0.68659705]]

# Splitting to Train Test And Split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.25, stratify=Y, random_state=3)
print(X.shape,  X_test.shape, X_train.shape)

(2000, 8) (500, 8) (1500, 8)

In [14]:
svmclassifier = svm.SVC(kernel='linear')

#training the support vector Machine Classifier
svmclassifier.fit(X_train, Y_train)

SVC(kernel='linear')

# Evaluation

In [15]:
X_train_prediction = svmclassifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('The accuracy score is: ', training_data_accuracy)

The accuracy score is:  0.7846666666666666

In [16]:

X_test_prediction = svmclassifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [17]:
print('The accuracy score is: ', test_data_accuracy)

The accuracy score is:  0.77

# Final

In [18]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0

In [ ]:
cond=True
while cond==True:
    answer=input("Type your gender(Type male or female.)")
    if answer.upper()=="FEMALE":        
        a=input("Enter Number Pregnancies: ")
        b=input("Enter the value of Gulcose: ")
        c=input("Enter the value of Blood Pressure: ")
        d=input("Enter the value of Skin Thickness: ")
        e=input("Enter the value of Insulin: ")
        f=input("Enter the value of Body mass index: ")
        g=input("Enter the value of Diabetes Pedigree Function: ")
        h=input("Enter the value of Age: ")
        input_data=[a,b,c,d,e,f,g,h]
        # changing the input_data to numpy array
        input_data_as_array = np.asarray(input_data)
        # reshape the array as we are predicting for one instance
        reshaped_data = np.array(input_data).reshape(1,-1)
    
        # standardize the input data
        final_data = scaled_data.transform(reshaped_data)
        print(final_data)

        prediction = svmclassifier.predict(final_data)
        print(prediction)

        if (prediction[0] == 0):
          print('The person is not diabetic')
        else:
          print('The person is diabetic')
          break
    elif answer.upper()=="MALE":
        print("Sorry, we don't predict the diabetes of males right now")

Type your gender(Type male or female.)female
Enter Number Pregnancies: 7
Enter the value of Gulcose: 102
Enter the value of Blood Pressure: 74
Enter the value of Skin Thickness: 40
Enter the value of Insulin: 105
Enter the value of Body mass index: 37.2
Enter the value of Diabetes Pedigree Function: 0.204
Enter the value of Age: 45
[[ 0.9973568  -0.59831973  0.25305579  1.18421911  0.2226306   0.61451696
  -0.82520367  1.01069497]]
[0]
The person is not diabetic